
.btn-primary {
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    background-image: linear-gradient(to right, #0d6efd, #007bff);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  @media (min-width: 640px) {
    .btn-primary {
      font-size: 1.125rem;
    }
  }

  .horizontal-line {
    width: 100%;
    color: #000000;
    border: 1px solid #000000;
  }

  .section-title {
    font-family: 'Montserrat';
    font-size: 48px;
    line-height: 58.51px;
    color: #101727;
    font-weight: 400;
  }

  .section-title > span {
    font-weight: 700;
    color: #00B87C;
  }

  .footer-text {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
  }
  
    @media (max-width: 768px) {
      .footer-text {
        font-size: 14px;
        line-height: 24px;
      }
    }

  .footer-div {
    min-height: 527px;
    background-color: #1A1A1C;
  }

  .footer-box {
    max-width: 900px;
  }

  .cta-note {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #101727;
  }

  @media (max-width: 768px) {
    .cta-note {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
  }
  
  @media (max-width: 576px) {
    .cta-note {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }

  .cta {
    width: 1200px;
    padding: 64px 166.6px;
    margin: 0 auto 48px;
    border: 1px solid #000000;
  }

  .cta-text {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }

  @media (max-width: 768px) {
    .cta {
      padding: 16px 16px;
      margin: 0 16px 48px;
    }
    .cta-text {
      font-family: 'Montserrat';
      font-size: 24px;
      line-height: 34px;
    }
  }

  .faq-container {
    padding: 200px 0;
  }
  
  .section-title-container {
    padding-bottom: 64px;
  }
  
  .section-title {
    text-align: center;
  }
  
  .accordion-container {
    display: flex;
    justify-content: center;
  }
  
  .accordion-content {
    width: 100%;
    max-width: 1066px;
  }
  
  .contact-section {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }
  
  .contact-text {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
  }
  
  .contact-button {
    padding: 16px 94px;
    color: #ffffff;
    background-color: #00b87c;
    border-radius: 70px;
    height: 70px;
    width: 372px;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  