/* Hero.css */
.btn-primary {
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    background-image: linear-gradient(to right, #0d6efd, #007bff);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  @media (min-width: 640px) {
    .btn-primary {
      font-size: 1.125rem;
    }
  }

  .footer-text {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
  }
  
    @media (max-width: 768px) {
      .footer-text {
        font-size: 14px;
        line-height: 24px;
      }
    }

  .footer-div {
    min-height: 527px;
    background-color: #1A1A1C;
  }

  .footer-box {
    max-width: 900px;
  }

